[submodule "c++/rtaudio"]
	path = cpp/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "c++/kfr"]
	path = cpp/kfr
	url = https://github.com/kfrlib/kfr.git
[submodule "cpp/unqlite"]
	path = cpp/unqlite
	url = https://github.com/symisc/unqlite.git
[submodule "cpp/PicoSHA2"]
	path = cpp/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "android/oboe"]
	path = android/oboe
	url = https://github.com/google/oboe.git
[submodule "android/ece420_lab4/MaskOboe/app/src/main/cpp/PicoSHA2"]
	path = android/ece420_lab4/MaskOboe/app/src/main/cpp/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "android/ece420_lab4/MaskOboe/app/src/main/cpp/kfr"]
	path = android/ece420_lab4/MaskOboe/app/src/main/cpp/kfr
	url = https://github.com/kfrlib/kfr.git
[submodule "android/ece420_lab4/MaskOboe/app/src/main/cpp/unqlite"]
	path = android/ece420_lab4/MaskOboe/app/src/main/cpp/unqlite
	url = https://github.com/symisc/unqlite.git
[submodule "android/ece420_lab4/MaskOboe/app/src/main/cpp/oboe"]
	path = android/ece420_lab4/MaskOboe/app/src/main/cpp/oboe
	url = https://github.com/google/oboe.git
[submodule "android/ece420_lab4/MaskOboe2/app/src/main/cpp/oboe"]
	path = android/ece420_lab4/MaskOboe2/app/src/main/cpp/oboe
	url = https://github.com/google/oboe.git
[submodule "android/ece420_lab4/MaskOboe2/app/src/main/cpp/kfr"]
	path = android/ece420_lab4/MaskOboe2/app/src/main/cpp/kfr
	url = https://github.com/kfrlib/kfr.git
[submodule "android/ece420_lab4/MaskOboe2/app/src/main/cpp/unqlite"]
	path = android/ece420_lab4/MaskOboe2/app/src/main/cpp/unqlite
	url = https://github.com/symisc/unqlite.git
